.sample {
  width: 100%;
  height: 640px;
  flex-direction: column;
  align-items: center;
  border: 1px dotted silver;
}

.sample-480 {
  width: 100%;
  height: 480px;
  flex-direction: column;
  align-items: center;
  border: 1px dotted silver;
}

.sample-no-border {
  width: 100%;
  height: 640px;
  flex-direction: column;
  align-items: center;
}

.mat-mdc-radio-button ~ .mat-radio-button {
  margin: 16px;
}

.graph {
  width: 100%;
  height: 640px;
  flex-direction: column;
  align-items: center;
  border: 1px dotted silver;
  position: relative;
}

.legend {
  position: fixed;
  right: 16px;
  bottom: 10px;
  padding: 16px 0;
}

.legend-button {
  display: flex;
  flex-direction: row-reverse;
  height: inherit;
  align-items: flex-end;
}

.legend-content {
  position: absolute;
  right: 0;
  bottom: 84px;
  border: 3px solid rgb(121, 121, 121);
  padding: 16px;
  background-color: rgba(218, 218, 218, 0.628);
}

.legend-on-over {
  padding: 20px;
  background-color: rgb(182, 182, 182);
  border-radius: 30px;
  cursor: pointer;
  z-index: 10;
}

.legend-item-wrapper {
  align-items: center;
  justify-content: space-between;
}

.legend-item {
  width: 20px;
  height: 10px;
  margin: 0 6px;
}

.textarea {
  width: 100%;
  min-width: 400px;
  height: 300px;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}

.flex-child-3 {
  flex: 3;
}

.error {
  font-size: large;
  margin-top: 30px;
  text-align: center;
  color: red;
  font-weight: 600;
}

.submitDiv {
  text-align: center;
}

.submitBtn {
  background-color: rgb(104, 225, 255);
}

.resetBtn {
  background-color: rgb(255, 104, 104);
}

.btn {
  border-radius: 5px;
  cursor: pointer
}

.btn-spaced {
  border: none;
  margin: 0 4px;
  padding: 10px;
}

.btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.justify {
  align-items: center;
}

.margin-bottom {
  margin-bottom: 10px;
}

.flex-align{
  align-items: center;
}

.pb {
  padding-bottom: 6px;
}

.p-title {
  font-size: 20px;
}

.centered {
  display: flex;
  align-items: center;
}

.mat-btn {
  border: 1px solid gray;
  background-color: rgb(251, 255, 128);
}

.mat-btn:hover {
  background-color: rgb(248, 255, 33);
}

.pdf-btn {
  border: 1px solid gray;
}

.pdf-btn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.groupItemCheckbox {
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.input-root {
  margin-right: 15px;
  width: 50px;
}

.node-btn-group {
  display: flex;
  flex-direction: column;
}

.save-btn {
  background-color: rgb(111, 200, 111);
}

.load-btn {
  background-color: rgb(128, 149, 255);
}

.width-100 {
  width: 100%;
}

.aligned {
  align-items: center;
}

.no-margin {
  margin: 0;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.mat-primary {
  background-color: rgb(35, 60, 201);
  color: #fff;
}

.mat-danger {
  background-color: rgb(201, 87, 87);
  color: #fff;
}

.box-margin {
  margin: 5px;
}

.disabled {
  background-color: grey;
}

.padding-top-bottom {
  padding: 10px 0;
}

.no-wrap-text {
  white-space: nowrap;
}

.parentLegendItem {
  padding: 5px;
  margin-bottom: 20px;
  background-color: rgb(243, 249, 164);
}

.textarea {
  resize: none;
  width: 90%;
  height: 5rem;
}

.highlight-frame {
  background-color: gray;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.node-template {
  color: black;
  background-color: black;
  flex-direction: column;
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid #000;  */
  border-radius: 15px;
  box-sizing: border-box;
  justify-content: space-between;
}

.node-template h4 {
  background: rgb(195, 195, 195);
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.quotata {
  border: 2px dashed #7fd1ae;
}

.no-margin {
  margin: 0;
}

.comment {
  font-style: italic;
  max-height: 70px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.companyName {
  text-overflow: ellipsis;
  overflow: hidden;
}