<div class="margin-bottom">
    <p class="p-title"><strong>Applica filtri:</strong></p>

    <div>
        <div class="pb centered">
            <button id="resetTree" mat-icon-button aria-label="Reset tree" (click)="onResetBtnClick()">
                <mat-icon>visibility</mat-icon>
            </button>
            <label for="resetTree" style="padding-left: 5px;">Resetta nodi</label>
        </div>
        <div class="pb">
            <input type="range" id="filterLeafs" min="0" [max]="levels" (change)="hideLeafs($event)"/>
            <label for="filterLeafs" style="padding-left: 5px;">Nascondi foglie ({{minLeafs}}) </label>
        </div>
        <div>
            <input type="range" id="filterRoots" min="0" [max]="levels" (change)="hideRoots($event)"/>
            <label for="filterRoots" style="padding-left: 5px;">Nascondi radici ({{minRoots}}) </label>
        </div>
        <div *ngFor="let group of groupsObject">
            <input type="checkbox" [id]="group.name" name="GROUPS" (change)="changedGroupSelection($event)" [(ngModel)]="group.value"/>
            <label [for]="group.name">{{group.name}}</label>
        </div>
    </div>
</div>

<div class="graph">
    <org-diagram 
        [annotations]="annotations"
        [items]="items"
        [pageFitMode]=PageFitMode.None
        [cursorItem]=null
        [linesWidth]=1
        [arrowsDirection]=GroupByType.Children
        [showExtraArrows]=true
        [linesColor]="'black'"
        [normalLevelShift]=20
        [dotLevelShift]=20
        [lineLevelShift]=20
        [normalItemsInterval]=20
        [dotItemsInterval]=30
        [lineItemsInterval]=30
        [hasSelectorCheckbox]=Enabled.False
        [centerOnCursor]=true
        [buttonsTemplate]="buttonsTemplate"
        [buttonsPanelSize]=40
        [hasButtons]=Enabled.True
    >
    </org-diagram>

    <ng-template #buttonsTemplate let-itemConfig="context">
        <button mat-icon-button aria-label="Hide node" (click)="onHideBtnClick(itemConfig)">
            <mat-icon>visibility_off</mat-icon>
        </button>
    </ng-template>
</div>
