<div class="margin-bottom">
    <p class="p-title"><strong>Applica filtri:</strong></p>

    <div>
        <div class="pb centered">
            <button id="savePDF" mat-icon-button aria-label="save pdf" (click)="savePDF()" class="mat-btn">
                <mat-icon>download</mat-icon>
            </button>
            <label for="savePDF" style="padding-left: 5px;">Download pdf</label>
        </div>
        <div class="pb centered">
            <button id="resetTree" mat-icon-button aria-label="Reset tree" (click)="onResetBtnClick()" class="mat-btn">
                <mat-icon>refresh</mat-icon>
            </button>
            <label for="resetTree" style="padding-left: 5px;">Resetta filtri</label>
        </div>
        <div>
            <input class="input-root" type="number" id="selectRoot" min="1" [(ngModel)]="rootNodeId" (input)="selectNewRoot()"/>
            <label for="selectRoot">Inserisci un nodo radice</label>
        </div>
        <div class="pb">
            <input type="range" id="filterLeafs" min="0" [max]="levels" [value]="leafsValue" (change)="hideLeafs($event)"/>
            <label for="filterLeafs" style="padding-left: 5px;">Nascondi foglie ({{leafsValue}}) </label>
        </div>
        <div>
            <input type="range" id="filterRoots" min="0" [max]="levels" [value]="rootsValue" (change)="hideRoots($event)"/>
            <label for="filterRoots" style="padding-left: 5px;">Nascondi radici ({{rootsValue}}) </label>
        </div>
        <div *ngFor="let group of groupsObject" class="groupItemCheckbox">
            <div>
                <input type="checkbox" [id]="group.name" name="GROUPS" (change)="changedGroupSelection($event)" [(ngModel)]="group.value"/>
                <label [for]="group.name">{{group.name}}</label>
            </div>
            <div [ngStyle]="{'background-color': group.color}" class="legend-item"></div>
        </div>
    </div>
</div>

<div>
    <button class="box-margin" mat-fab extended color="success" (click)="saveTree()">
        <mat-icon>save</mat-icon>
        Salva albero
    </button>
    <button class="box-margin" mat-fab extended color="primary" (click)="loadTree()" [disabled]="disabledLoad" [ngClass]="{'disabled': disabledLoad}">
        <mat-icon>publish</mat-icon>
        Carica albero
    </button>
    <button class="box-margin" mat-fab extended color="danger" (click)="deleteTree()" [disabled]="disabledLoad" [ngClass]="{'disabled': disabledLoad}">
        <mat-icon>delete</mat-icon>
        Elimina albero salvato
    </button>
</div>

<div #orgDiagram class="graph dec-space" id="printcontent">
    <org-diagram 
        [annotations]="annotations"
        [items]="items"
        [scale]="diagramScale"
        [pageFitMode]=PageFitMode.None
        [cursorItem]=null
        [linesWidth]=1
        [arrowsDirection]=GroupByType.Children
        [showExtraArrows]=true
        [linesColor]="'black'"
        [normalLevelShift]=20
        [dotLevelShift]=20
        [lineLevelShift]=20
        [normalItemsInterval]=20
        [dotItemsInterval]=30
        [lineItemsInterval]=30
        [hasSelectorCheckbox]=Enabled.False
        [centerOnCursor]=true
        [buttonsTemplate]="buttonsTemplate"
        [buttonsPanelSize]=40
        [hasButtons]=Enabled.True
    >
    </org-diagram>

    <ng-template #buttonsTemplate let-itemConfig="context">
        <div class="node-btn-group">
            <mat-icon class="btn" (click)="onHideBtnClick(itemConfig)">visibility_off</mat-icon>
            <mat-icon class="btn" (click)="onUpLevelBtnClick(itemConfig)">keyboard_arrow_up</mat-icon>
            <mat-icon class="btn" (click)="onDownLevelBtnClick(itemConfig)">keyboard_arrow_down</mat-icon>
        </div>
    </ng-template>
</div>
