<h1>Matrix Nodes Layout in Family Chart</h1>
<div class="flex-container justify">
    <div class="flex-child-3">
        <textarea class="textarea" placeholder="Incolla qui il tuo json . . ." [(ngModel)]="jsonTextArea"></textarea>
    </div>
    <div class="flex-child submitDiv">
        <button class="btn btn-spaced resetBtn" (click)="onJsonReset()">Reset</button>
        <button class="btn btn-spaced submitBtn" (click)="onJsonSubmit()">Genera</button>
    </div>
</div>


<div class="graph" *ngIf="!errorMsg">
    <org-diagram 
        [items]="items"
        [pageFitMode]=PageFitMode.None
        [cursorItem]=cursorItem
        [linesWidth]=1
        [arrowsDirection]=GroupByType.Children
        [showExtraArrows]=true
        [linesColor]="'black'"
        [normalLevelShift]=20
        [dotLevelShift]=20
        [lineLevelShift]=20
        [normalItemsInterval]=20
        [dotItemsInterval]=30
        [lineItemsInterval]=30
        [hasSelectorCheckbox]=Enabled.False
        [centerOnCursor]=true
        [buttonsTemplate]="buttonsTemplate"
        [buttonsPanelSize]=40
        [hasButtons]=Enabled.True
    >
    </org-diagram>

    <ng-template #buttonsTemplate let-itemConfig="context">
        <div class="node-btn-group" *ngIf="itemConfig.parent === null">
            <mat-icon class="btn" (click)="onLeftBtnClick(itemConfig)">keyboard_arrow_left</mat-icon>
            <mat-icon class="btn" (click)="onRightBtnClick(itemConfig)">keyboard_arrow_right</mat-icon>
        </div>
    </ng-template>

    <div class="legend">
        <div class="legend-button">
            <div *ngIf="showLegend" class="legend-content">
                <div *ngFor="let item of legendItems" class="legend-item-wrapper flex-container">
                    {{item.name}}
                   <div [ngStyle]="{'background-color': item.color}" class="legend-item"></div>
                </div>
            </div>
            <div class="legend-on-over" (mouseenter)="showLegend = true" (mouseleave)="showLegend = false">
                LEGEND
            </div>
        </div>
    </div>
</div>

<div *ngIf="errorMsg" class="error">
    {{errorMsg}}
</div>